/* GOOGLE FONT LINK */

/* RESET DEFAULT CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e4e4ff;
}
.mainHeading{
    width: 100%;
    text-align: center;
    margin: 4.2rem auto;
    font-family: cursive;
    color: #404086;
}

.coverImg.coverImgBook {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
}

.booksBookImg {
	width: 100%;
	max-width: 20px;
	will-change: transform;
	transform-origin: 0 100%;
	transform: rotate(-7deg);
	transition: transform 0.3s ease-out;
}
.booksBookImg img{
    transform: translate(-40%, 0%);
}
.booksBookImg:hover {
    transform: rotate(0);
}

.booksBookImgLink:hover {
    position: relative;
}
